<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grocery Management System</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- <navbar> -->
      <%- include("include/nav.ejs") %>
    <section class="page-4" id="p-4">
      <h3 class="nunito">About Us</h3>
      <div class="page-4-main">
          
          <div class="page-4-content text">
              <h4 class="nunito">Our Mission</h4>
              <p class="nunito">Welcome to our Grocery Management Platform, where we prioritize freshness, cleanliness, and efficiency to bring you the best shopping experience possible. Here's what sets us apart:</p>
              <div class="check-mark">
                  <div class="points">
                      <i class="fa-solid fa-check"></i>
                      <p class="nunito">Fresh Farm</p>
                  </div>
                  <div class="points">
                      <i class="fa-solid fa-check"></i>
                      <p class="nunito">Clean Packing</p>
                  </div>
                  <div class="points">
                      <i class="fa-solid fa-check"></i>
                      <p class="nunito">Fast Delivery</p>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="page-3" id="p-3">
    <div class="block b1">
        <div class="page-content image im-1">
            <img src="/images/farm.jpg" alt="" srcset="">
        </div>
        <div class="page-content text right">
            <h5 class="nunito">Fresh Farm:</h5>
            <p class="page-det nunito">At our Grocery Management Platform, we understand the importance of freshness in your everyday groceries. That's why we've established strong partnerships with local farmers and suppliers who share our commitment to quality. From farm to table, we ensure that our produce is always fresh, ensuring you get the nutrients and flavors you deserve.
            </p>
            
        </div>
    </div>
    <div class="block b2">
        <div class="page-content text left">
            <h5 class="nunito">Clean Packing:</h5>
            <p class="page-det nunito">Hygiene and cleanliness are non-negotiables when it comes to handling food. We take every precaution to maintain the highest standards of cleanliness throughout our packing process. From the moment your groceries are selected to the time they reach your doorstep, we adhere to strict hygiene protocols to ensure that your items are delivered in pristine condition, free from contaminants.
            </p>
            
        </div>
        <div class="page-content image im-2">
            <img src="/images/packageing.jpg" alt="" srcset="">
        </div>
        
    </div>
    <div class="block b3">
        <div class="page-content image im-3">
            <img src="/images/delivery.jpg" alt="" srcset="">
        </div>
        <div class="page-content text right">
            <h5 class="nunito">Fast Delivery:</h5>
            <p class="page-det nunito">We understand that time is of the essence, especially when it comes to grocery shopping. With our streamlined delivery process, we guarantee prompt and efficient service. Whether you're stocking up on essentials or in need of last-minute items, our dedicated delivery team works tirelessly to ensure that your groceries reach you swiftly, so you can focus on what matters most.
            </p>
            
        </div>
    </div>
    
    </section>

    <!-- <footer> -->
      <%- include("include/footer.ejs") %>
  </body>
</html>
