<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grocery Management System</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <style>
        .err{
            height: 75vh;
        }
        .err h1{
            margin: 3rem 0;
        }
    </style>
  </head>
  <body>
        <!-- <navbar> -->
        <%- include("include/nav.ejs") %>
        <div class="err">
            <center>
                <h1>Error!!!</h1>
                <a href="/"><button class="btn">Go To Home</button></a>
            </center>
        </div>
        <!-- <footer> -->
        <%- include("include/footer.ejs") %>

    </body>
  
  
</html>
  