<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grocery Management System</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
        <!-- <navbar> -->
        <%- include("include/nav.ejs" ,{user}) %>
    <div class="hero-section">
      <div class="hero-msg">
        <p>WELCOME TO OUR ONLINE GROCERY STORE</p>
      </div>
    </div>
    <div class="shop-section">
      <div class="box">
        <div class="box-content">
          <h2>Vegetables</h2>
          <div
            class="box-img"
            style="background-image: url('/images/VEGETABLES.webp')"
          ></div>
          <p><a href="/vegetable.html">See more</a></p>
        </div>
      </div>
      <div class="box">
        <div class="box-content">
          <h2>Milk</h2>
          <div
            class="box-img"
            style="background-image: url('/images/MILK.jpeg')"
          ></div>
          <p><a href="/milk.html">See more</a></p>
        </div>
      </div>
      <div class="box">
        <div class="box-content">
          <h2>Snacks</h2>
          <div
            class="box-img"
            style="background-image: url('/images/SNACKS.webp')"
          ></div>
          <p><a href="/snacks.html">See more</a></p>
        </div>
      </div>
      <div class="box">
        <div class="box-content">
          <h2>Bakery</h2>
          <div
            class="box-img"
            style="background-image: url('/images/BREAD.jpeg')"
          ></div>
          <p><a href="/bakery.html">See more</a></p>
        </div>
      </div>
      <div class="box">
        <div class="box-content">
          <h2>Choclate</h2>
          <div
            class="box-img"
            style="background-image: url('/images/CHOCOLATES.jpeg')"
          ></div>
          <p><a href="/chocolate.html">See more</a></p>
        </div>
      </div>
      <div class="box">
        <div class="box-content">
          <h2>Fruits</h2>
          <div
            class="box-img"
            style="background-image: url('/images/FRUITS\ 1.jpeg')"
          ></div>
          <p><a href="/fruits.html">See more</a></p>
        </div>
      </div>
      <div class="box">
        <div class="box-content">
          <h2>Meat</h2>
          <div
            class="box-img"
            style="background-image: url('/images/MEAT.jpeg')"
          ></div>
          <p><a href="/meat.html">See more</a></p>
        </div>
      </div>
      <div class="box">
        <div class="box-content">
          <h2>Beverages</h2>
          <div
            class="box-img"
            style="background-image: url('/images/BEVRAGES.jpg')"
          ></div>
          <p><a href="/breverages.html">See more</a></p>
        </div>
      </div>
    </div>
    <!-- <footer> -->
    <%- include("include/footer.ejs") %>

  </body>


</html>
