<header>
    <div class="navbar" id="navbar">
        <div class="nav-logo border">
          <div class="logo"> <a href="/">Grocery</a></div>
        </div>
    
        <div class="nav-address border">
          <p class="add-first">Deliver to</p>
          <div class="add-icon">
            <i class="fa-solid fa-location-dot"></i>
            <p class="add-second">India</p>
          </div>
        </div>
    
        <div class="nav-option">
    
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li class="drop-menu"><a href="">Categories&nbsp;<i class="fa-solid fa-chevron-down"></i></a>
              <ul class="drop-menu-ul">
                <li><a href="vegetable.ejs">Vegetable</a></li>
                <li><a href="milk.ejs">Milk</a></li>
                <li><a href="snacks.ejs">Snacks</a></li>
                <li><a href="bakery.ejs">Bakery</a></li>
                <li><a href="chocolate.ejs">Chocolate</a></li>
                <li><a href="fruits.ejs">Fruits</a></li>
                <li><a href="meat.ejs">Meat</a></li>
                <li><a href="breverages.ejs">Breverages</a></li>
              </ul>
            </li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/cart">Cart</a></li>
            
          </ul>
        </div>
        
        <div class="nav-return border">
          <p><span>Returns</span></p>
          <p class="nav-second">& Orders</p>
        </div>
        <div class="nav-cart border">
          <a href="/cart">
          <i class="fa-solid fa-cart-shopping"></i>
          &nbsp;&nbsp;Cart
        </a>
        </div>

        <% if (user) { %>
          <div class="profile">
            <a href="/user/profile">
              <img src="profile.webp" alt="profile" srcset="" class="profile-img">
              <span class="user-name"><%= user.name %></span>
            </a>
          </div>
        <% } else { %>         
        <div class="nav-signin border" id="buyButton">
          <a href="/signin"><p><span>Hello, sign in</span></p>
            <p class="nav-second">Account & List</p></a>
        </div>
        <% } %>
      </div>
</header>

    